services:
  db:
    image: postgres:15
    container_name: todo_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432" # avoid conflict with local Postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: todo_redis
    restart: always
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: todo_api
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      RAILS_ENV: ${RAILS_ENV}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_DB: ${POSTGRES_DB}
      REDIS_URL: redis://redis:6379/0

volumes:
  bundle_cache:
