name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  security_scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true
      - run: bundle exec brakeman --no-pager

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true
      - run: bundle exec rubocop -f github

  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: owusuboa
          POSTGRES_DB: todo_api_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      RAILS_ENV: test
      POSTGRES_HOST: postgres   # Must match service name
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: owusuboa
      POSTGRES_DB: todo_api_test
      DATABASE_URL: postgres://postgres:owusuboa@postgres:5432/todo_api_test
      REDIS_URL: redis://redis:6379/0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential libpq-dev

      - name: Wait for PostgreSQL
        run: |
          echo "Waiting for Postgres..."
          until pg_isready -h $POSTGRES_HOST -U $POSTGRES_USER; do
            sleep 1
          done

      - name: Prepare Test Database
        run: |
          bundle exec rails db:create db:schema:load

      - name: Run RSpec Tests
        run: bundle exec rspec --format documentation
